@font-face {
    font-family: 'GE SS light';
    src: url('/assets/Fonts/GE-SS-Two-Font-Family/GE%20SS%20Two%20Light%20-%20[UrduFonts.com].otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS medium';
    src: url('/assets/Fonts/GE-SS-Two-Font-Family/GE%20SS%20Two%20Medium%20-%20[UrduFonts.com].otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Expo Arabic Light';
    src: url('/assets/Fonts/expo-arabic/Expo%20Arabic%20Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Expo Arabic Medium';
    src: url('/assets/Fonts/expo-arabic/Expo%20Arabic%20Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Expo Arabic Bold';
    src: url('/assets/Fonts/expo-arabic/Expo%20Arabic%20Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Expo Arabic Book';
    src: url('/assets/Fonts/expo-arabic/Expo%20Arabic%20Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Tajawal";
    src: url('/assets/Fonts/Tajawal-fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//   font-family: 'GE SS medium',sans-serif;
//     src: url('/assets/expo-arabic/Expo\ Arabic\ Bold.ttf') format('ttf');
// }
body {
    background-color: $secondry !important;

    &::-webkit-scrollbar {
        width: 12px;
        background-color: $primary;

    }


    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
    }

    // font-family: 'GE SS medium',sans-serif;
    // font-family: 'Expo Arabic';
    //   font-family: 'GE SS medium',sans-serif;

}

h1 {
    font-size: 50px;
    color: $primary;
    font-family: 'Expo Arabic Bold';
    font-weight: 700;
}

h2 {
    font-size: 45px;
    color: $primary;
    font-family: 'Expo Arabic Bold';
    font-weight: 700;
}

h3 {
    font-size: 40px;
    color: $primary;
    font-family: 'Expo Arabic Bold';
    font-weight: 700;
}

h4 {
    font-size: 30px;
    color: $primary;
    font-family: 'Expo Arabic Bold';
    font-weight: 700;
}

h5 {
    font-size: 20px;
    color: $primary;
    font-family: 'Expo Arabic Bold';
    font-weight: 700;
}

// Fonts sizes clases
.f-40 {
    font-size: 40px;
}

.f-30 {
    font-size: 30px;
}

.f-20 {
    font-size: 20px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}

.f-10 {
    font-size: 10px;
}

// Font Weight Classes
.w-400 {
    font-weight: 400;
}

.w-500 {
    font-weight: 500;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}

.w-800 {
    font-weight: 800;
}

.main-heading {
    font-family: 'Expo Arabic Bold';
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: $primary;

    @media only screen and (max-width:767px) {
        font-size: 30px;
        line-height: normal;
        text-transform: capitalize;
    }
}

.expo-fonts {
    font-family: 'Expo Arabic Bold';
}

.text-primary {
    color: $primary !important;
}

.text-gray {
    color: $gray !important;
}

.text {

    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;
    // text-transform: capitalize;

    color: #000000;
    font-family: 'Expo Arabic Book';

    @media only screen and (max-width:560px) {
        font-size: 14px;
    }

}

.about-text h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Expo Arabic Medium';
    color: #000000;

    @media only screen and (max-width:560px) {
        font-size: 14px;
    }
}

.about-heading {
    font-size: 24px;
    font-weight: 500;
    color: $primary;
    font-family: 'Expo Arabic Medium';

    @media only screen and (max-width:560px) {
        font-size: 20px;
        margin-top: 20px !important;
    }
}